@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Layout.cshtml";
}
<section class="@Model.Content.StyleSelector.ToString().ToLower().Replace(" ", "-")">
    <div style="width: 70%; float: left;">
        <h1>@(Model.Content.Title ?? Model.Content.Name)</h1>
        @Html.Raw(Model.Content.Content)
    </div>
    <div style="width: 30%; float: left;">
        <p>this is a side bar</p>
    </div>
</section>
